head
  meta(charset='utf-8')
  title hoge
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  // link(rel='shortcut icon', href='/favicon.ico')
  // build:css styles/vendor.css
  // bower:css
  // endbower
  // endbuild
